<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Table</title>

     <!-- Icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
     integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-color: black;
        }

        table,
        tr,
        td,
        th {
            color: white;
            width: 100%;
            border-left: 3px !important;
            border-left-color: #383D3D !important;
        }

        td,
        th {
            text-align: center;
            width: 100px;
            height: 40px;
        }

        .adddata {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: black;
            border-radius: 18px;
            margin-left: 40px;
            border: 2px solid black;
            width: 100px;
            text-align: center;
            background-color: aquamarine;
        }

        .box {
            margin-left: 40px;
            color: rgb(247, 247, 247);
            background: linear-gradient(to bottom, #57B2FF, #0086F8);
            width: 100px;
            /* height: 120px; */
            box-shadow: 0px 5px 20px 1px;
            border-radius: .4em;
        }

        .box1 {
            margin-left: 40px;
            color: rgb(247, 247, 247);
            background: linear-gradient(to bottom, #0079df, #4bacff);
            width: 100px;
            /* height: 120px; */
            box-shadow: 0px 5px 20px 1px;
            border-radius: .4em;
        }

        .colored {
            color: #a3cef7;
        }

        .colored1 {
            color: #d3e6f7;
        }

        tr:nth-child(even) {
            background-color: #575757bd;
        }

        tr:nth-child(odd) {
            background-color: #575757e7;
        }

        th {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            background-color: #575757;
        }

        input {
            text-align: center;
            font-size: 15px;
            border-radius: 18px;
        }

        input:read-only {
            background-color: rgba(255, 255, 255, 0.767);
        }

        i{
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <form action="/saveall" method="post">
        <table id="table1">
            <tr>
                <th style="display: none;">ID</th>
                <th>First-Name</th>
                <th>Last-Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Save</th>
            </tr>
            <%for(i=0;i<data.length;i++){%>
                <tr>
                    <td style="display: none;"><input type="text" name="id" id="<%=data[i].std_id%>id"
                            value="<%=data[i].std_id%>"></td>
                    <td><input type="text" name="fname" id="<%=data[i].std_id%>fname" value="<%=data[i].std_fname%>" readonly>
                    </td>
                    <td><input type="text" name="lname" id="<%=data[i].std_id%>lname" value="<%=data[i].std_lname%>" readonly>
                    </td>
                    <td><input type="text" name="city" id="<%=data[i].std_id%>city" value="<%=data[i].city%>" readonly>
                    </td>
                    <td><input type="text" name="email" id="<%=data[i].std_id%>email" value="<%=data[i].email%>" readonly></td>
                    <td><input type="text" name="contact" id="<%=data[i].std_id%>contact" value="<%=data[i].contact%>" readonly>
                    </td>
                    <td>
                        <p style="cursor:pointer;" class="box colored" id="<%=data[i].std_id%>edit" onclick="edit(`<%=data[i].std_id%>`)"><i class="fa-solid fa-pen-to-square"></i>Edit</p>
                    </td>
                </tr>
            <%}%>


        </table>

        <p style="width:500px;padding-top:5px;padding-bottom:5px;text-align:center;margin-left: 30%; cursor:pointer;border-radius: 18px;"
            onclick="addrow()" class="box1 colored1">Add Data</p>

        <input type="submit" value="Save All" class="box1 colored1"
            style="width:500px;padding-top:8px;padding-bottom:8px;margin-top:10px;text-align:center;margin-left: 30%; cursor:pointer;border-radius: 18px;">
    </form>

</body>

<script>
    var setid = 0;
    function addrow() {
        setid += 1;
        var table = document.getElementById('table1');
        var tr = document.createElement('tr');
        tr.innerHTML = `<tr>
            <td style="display: none;"><input type="text" name="id"></td>
                <td><input type="text"  name="fname" id="fname${setid}"></td>
                <td><input type="text" name="lname" id="lname${setid}"></td>
                <td><input type="text" name="city" id="city${setid}"></td>
                <td><input type="text" name="email" id="email${setid}"></td>
                <td><input type="text" name="contact" id="contact${setid}"%>"></td>
                <td>
                    <p style="cursor:pointer;" class="box colored" id="edit" onclick="addrowdata(${setid})"><i class="fa-solid fa-pen-to-square"></i>Edit</p>
                </td>
            </tr>`;
        table.appendChild(tr);
    }
    

    function addrowdata(id) {

        var fname = document.getElementById(`fname${id}`).value;
        var lname = document.getElementById(`lname${id}`).value;
        var city = document.getElementById(`city${id}`).value;
        var email = document.getElementById(`email${id}`).value;
        var contact = document.getElementById(`contact${id}`).value;

        fetch(`http://localhost:9091/insertdata?fname=${fname}&lname=${lname}&city=${city}&email=${email}&contact=${contact}`)
    }

    async function edit(id) {

        var ids=document.getElementById(`${id}id`).value;
        var fname1 = document.getElementById(`${id}fname`).value;
        var lname1 = document.getElementById(`${id}lname`).value;
        var city1 = document.getElementById(`${id}city`).value;
        var email1 = document.getElementById(`${id}email`).value;
        var contact1 = document.getElementById(`${id}contact`).value;
        console.log(fname1)
        var fname=document.getElementById(`${id}fname`).removeAttribute('readonly');
        var lname=document.getElementById(`${id}lname`).removeAttribute('readonly');
        var city=document.getElementById(`${id}city`).removeAttribute('readonly');
        var email=document.getElementById(`${id}email`).removeAttribute('readonly');
        var contact=document.getElementById(`${id}contact`).removeAttribute('readonly');

        var edit=document.getElementById(`${id}edit`).innerHTML="<i class='fa-solid fa-pen-to-square'></i>Update"
        
        // console.log("-------------------------------------",data);
        fetch(`http://localhost:9091/add?id=${ids}&fname=${fname1}&lname=${lname1}&city=${city1}&email=${email1}&contact=${contact1}`)
    }
</script>



</html>